.rectangle{
    display: inline-block;
    width: auto;
    height: 25px;
    background: black;
    border-radius: 20px;
}
  
.inner-rectangle{
    height: 25px;
    background: green;
    border-radius: 20px;
}