nav, p, h1, h2, img{
  user-select: none;
}

p{
  font-size: 16px !important;
}

.main-content{
  width:100%;
}

.debug{
  border-width: 1px;
  border-color: red;
}

.language-logo{
  width: 100px;
  height: 100px;
}

.active{
  color:white;
}